<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <log4net>
    <!-- See: https://github.com/log4mongo/log4mongo-net -->
    <appender name="MongoDBAppender" type="Log4Mongo.MongoDBAppender, Log4Mongo">
      <connectionString value="mongodb://10.66.60.192:27017/Logs" />
      <collectionName value="UnitTestAPIGatewayLog" />
      <field>
        <!-- Note: this needs to be "timestamp" and NOT "Timestamp"  for the TTL index to work -->
        <name value="timestamp" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </field>
      <field>
        <name value="level" />
        <layout type="log4net.Layout.PatternLayout" value="%level" />
      </field>
      <field>
        <name value="thread" />
        <layout type="log4net.Layout.PatternLayout" value="%thread" />
      </field>
      <field>
        <name value="logger" />
        <layout type="log4net.Layout.PatternLayout" value="%logger" />
      </field>
      <field>
        <name value="message" />
        <layout type="log4net.Layout.PatternLayout" value="%message" />
      </field>
      <field>
        <name value="fileName" />
        <layout type="log4net.Layout.PatternLayout" value="%file" />
      </field>
      <field>
        <name value="method" />
        <layout type="log4net.Layout.PatternLayout" value="%method" />
      </field>
      <field>
        <name value="exception" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </field>
      <field>
        <name value="username" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%username" />
        </layout>
      </field>
      <field>
        <name value="threadContextProperty" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="threadContextProperty" />
        </layout>
      </field>
      <field>
        <name value="globalContextProperty" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="globalContextProperty" />
        </layout>
      </field>
      <field>
        <name value="machineName" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{log4net:HostName}" />
        </layout>
      </field>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ALL" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <appender name="MongoDBAppenderRR" type="Log4Mongo.MongoDBAppender, Log4Mongo">
      <connectionString value="mongodb://10.66.60.192:27017/Logs" />
      <collectionName value="UnitTestAPIGatewayLog" />
      <field>
        <!-- Note: this needs to be "timestamp" and NOT "Timestamp"  for the TTL index to work -->
        <name value="timestamp" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </field>
      <field>
        <name value="level" />
        <layout type="log4net.Layout.PatternLayout" value="%level" />
      </field>
      <field>
        <name value="thread" />
        <layout type="log4net.Layout.PatternLayout" value="%thread" />
      </field>
      <field>
        <name value="logger" />
        <layout type="log4net.Layout.PatternLayout" value="%logger" />
      </field>
      <field>
        <name value="message" />
        <layout type="log4net.Layout.PatternLayout" value="%message" />
      </field>
      <field>
        <name value="fileName" />
        <layout type="log4net.Layout.PatternLayout" value="%file" />
      </field>
      <field>
        <name value="method" />
        <layout type="log4net.Layout.PatternLayout" value="%method" />
      </field>
      <field>
        <name value="exception" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </field>
      <field>
        <name value="username" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%username" />
        </layout>
      </field>

      <field>
        <name value="responseStatusCode" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="responseStatusCode" />
        </layout>
      </field>
      <field>
        <name value="responseReasonPhrase" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="responseReasonPhrase" />
        </layout>
      </field>
      <field>
        <name value="requestUri" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="requestUri" />
        </layout>
      </field>
      <field>
        <name value="requestMethod" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="requestMethod" />
        </layout>
      </field>
      <field>
        <name value="requestId" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="requestId" />
        </layout>
      </field>

      <field>
        <name value="requestResponse" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="requestResponse" />
        </layout>
      </field>

      <field>
        <name value="machineName" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{log4net:HostName}" />
        </layout>
      </field>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ALL" />
        <levelMax value="FATAL" />
      </filter>
    </appender>

    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="AudaExplore.APIGateway.UnitTests.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="0" />
      <maximumFileSize value="2000KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="&#13;&#10;[Session starts]&#13;&#10;"/>
        <param name="Footer" value="&#13;&#10;[Session ends]&#13;&#10;"/>
        <param name="ConversionPattern"
        value="%d [%t] %-5p - %m%n"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="OFF" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
    
    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="MongoDBAppender" />
    </root>

    <logger name="AudaExplore.ApiGateway.Services.MessageHandler" additivity="false">
      <appender-ref ref="MongoDBAppenderRR" />
    </logger>
  </log4net>

</configuration>